.container{
    /* outline: solid blue 2px; */
    width: 100px;
    position: relative;
}

.h3{
    border: 2px solid rgba(255, 255, 255, 0.701);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.701);
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.916);
    color: #282c34;
    margin: 0 5px;
}

.h3:hover{
    cursor: pointer;
    color: white;
    background-color: grey;
    border: solid 2px rgba(255, 255, 255, 0.701);
}

.active{
    display: block;
    position: absolute;
    border: solid #282c34 2px;
    text-align: left;
    right: 0;
    top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.volver{
    color: #282c34;
    background-color: white;
    border: solid 2px #282c34;
    border: solid 2px white;
}

.volver:hover{
    border: solid 2px gray;
    background-color: rgba(255, 255, 255, 0.701);
}

.notActive{
    display: none;
}

.but{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.133);
    font-weight: bold;
    color: gray;
    border: solid 2px gray;
    margin: 2px 0;
    width: 100%;
}

.but:hover{
    cursor: pointer;
}